[submodule "workshops/risingwave-data-talks-workshop-2024-03-04"]
	path = workshops/risingwave-data-talks-workshop-2024-03-04
	url = https://github.com/risingwavelabs/risingwave-data-talks-workshop-2024-03-04.git
